<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Files list</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
</head>
<style>
    body {
        font-family: 'Times New Roman', serif;
        color: black;
    }

    .filesList {
        font-size: 35px;
        font-weight: 500;
        font-family: fantasy;
    }
</style>

<body style="background-color: ghostwhite">
<div th:replace="fragments/header :: header"/>
<br><br>
<div class="jumbotron jumbotron-fluid" sec:authorize="isAuthenticated()">
    <div class="container">
        <h1 class="filesList">Files List</h1>
        <br>
        <table border="2" class="table table-bordered table-responsive-md">
            <thead>
            <tr>
                <th>File Id</th>
                <th>File Name</th>
                <th>File Type</th>
                <th>File Size(KB's)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${filesList}">
                <td th:text="${file.id}"></td>
                <td th:text="${file.name}"></td>
                <td th:text="${file.type}"></td>
                <td th:text="${file.size}"></td>
                <td>
                    <a th:href="@{/files/single/{id}(id=${file.id})}" class="btn btn-primary">Download</a>
                    <a th:href="@{/file/delete/{id}(id=${file.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <a th:href="@{/}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Back to
            Homepage</a>
        <hr>
    </div>
</div>
</body>
</html>