<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
</head>
<style>
    body {
        font-family: 'Times New Roman', serif;
        color: black;
    }

    .login {
        font-size: 50px;
        font-weight: 500;
        font-family: fantasy;
    }

</style>
<body style="background-color: ghostwhite">

<div th:replace="fragments/header :: header"/>
<br><br>
<div class="jumbotron jumbotron-fluid" sec:authorize="isAnonymous()">
    <div class="container">
        <h1 class="login">Login</h1>
        <br>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form action="#" th:action="@{/login}" method="POST">
            <label>Username:</label>
            <input type="text" id="username" name="username" placeholder="User Name" class="form-control mb-4 col-4">

            <label>Password:</label>
            <input type="password" id="password" placeholder="Password" name="password" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Log In</button>
            <a th:href="@{/register}" class="btn btn-primary col-2">Signup</a>
        </form>
    </div>

</div>

</body>
</html>