<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="ISO-8859-1">
    <title>Signup Page</title>
    <link th:replace="fragments/header :: bootstrap-css"/>

</head>
<style>
    .signup {
        font-size: 50px;
        font-weight: 500;
        font-family: fantasy;
    }

</style>
<body style="background-color: ghostwhite">

<div th:replace="fragments/header :: header"/>
<br><br>
<div class="jumbotron jumbotron-fluid" sec:authorize="isAnonymous()">
    <div class="container">
        <h1 class="signup">Signup</h1>
        <br>
        <form action="#" th:action="@{/register}" th:object="${user}" method="POST">
            <input type="text" th:field="*{fullName}" placeholder="Full Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{username}" placeholder="username" class="form-control mb-4 col-4">

            <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

            <input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Register</button>
            <a th:href="@{/login}" class="btn btn-primary col-2">Login</a>

        </form>
    </div>

</div>
</body>

</html>